:root {
   --primary-color: #5d5fef;
   --text-color: #2a373f;
   --grey-color: #707d85;
   --orange-color: #ffa300;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Inter', sans-serif;
}

a {
   text-decoration: none;
   color: #707d85;
   font-size: 0.8rem;
   font-weight: 500;
}

ul,
li {
   margin: 0;
   list-style: none;
}
